html, body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;

  h1{
    text-align: center;
  }
}

#gallery-container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    position: relative;
    overflow: hidden;
    background-color: #353535;
    
    #main-image-container{
      display: flex;
      align-items: center;
      justify-content: center;
      
      #main-image-frame{
        position: relative;

        img{
          max-width: 100%;
          max-height: 400px;
        }

        #main-image-desc-container{
          position: absolute;
          bottom: 0;
          width: 100%;
          min-height: 60px;
          background-color: rgba(0,0,0, .5);
          color: white;
          text-align: center;
          
          .title{
            font-weight: 700;
            font-size: 16px;
            display: block;
            margin: 10px 70px 5px 70px;
          }

          .desc{
            margin: 0 70px 10px 70px;
          }

          #date-container{
            position: absolute;
            top: 0;
            right:0;
            width: 70px;
            height: 60px;
            background-color: rgba(0,0,0, .5);
            display: flex;
            flex-direction: column;

            span{
              display: block;

              &#day{
                font-weight: 800;
                font-size: 30px;
                line-height: 1;
              }
            }
          }
        }
      }
    }
    
    #thumbnail-container{
      display: flex;
      padding: 10px 0;
      transition: all, .3s;
      
      .thumbnail{
        display: flex;
        align-items: center;
        justify-content: center;
        
        img{
          max-width: 200px;
          max-height: 120px;
          margin: 0 10px;
        }
      }
  
    }

    .arrow{
      display: block;
      width: 30px;
      height: 30px;
      background-color: #2c2c2c;
      background-image: url('../images/arrow-white.png');
      background-size: 33% 50%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 50%;

      &#left-arrow{
        transform: rotate(180deg);
        left: 5px;
      }

      &#right-arrow{
        right: 5px;
      }
    }
}